# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.cache/

# mypy
.mypy_cache/

# VS Code settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
../../.idea/

# virtualenv
venv/
ENV/
env/
venv.bak/
env.bak/